@using EntityLayer.Concrete;
@model Product
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Ürün Ekleme Sayfası</h3>
<br />
<form method="post">

    <label>Ürün Adı</label>
    @Html.TextBoxFor(x=>x.ProductName,new {@class="form-control"})
    <br />
    <label>Marka</label>
    @Html.TextBoxFor(x=>x.Brand,new {@class="form-control"})
    <br />
    <label>Stok Sayısı</label>
    @Html.TextBoxFor(x=>x.Stock,new {@class="form-control"})
    <br />
    <label>Alış Fiyatı</label>
    @Html.TextBoxFor(x=>x.PurchasePrice,new {@class="form-control"})
    <br />
    <label>Satış Fiyatı</label>
    @Html.TextBoxFor(x=>x.SalePrice,new {@class="form-control"})
    <br />
    <label>Kategori</label>
    @Html.TextBoxFor(x=>x.CategoryID,new {@class="form-control"})
    <br />
    <label>Görsel</label>
    @Html.TextBoxFor(x=>x.Image,new {@class="form-control"})
    <br />
    <button class="btn btn-primary">Kaydet</button>

</form>


