@using EntityLayer.Concrete;
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    var status = "";
    var buttonname = "";
    var color = "";
    var rowcolor = "";
    var statuscolor = "";
}

<h3 class="container">Ürünler</h3>

<br />
<table id="tbl2" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Marka</th>
        <th>Stok</th>
        <th>Alış Fiyat</th>
        <th>Satış Fiyat</th> 
        <th>Kategori</th>
        <th>Görsel</th>
        <th>Durum</th>
        <th>İşlemler</th>
      
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        if (item.Status == true) { status = "Aktif"; buttonname = "Pasif Yap"; color = "secondary"; statuscolor = "success"; rowcolor = ""; } else { status = "Pasif"; buttonname = "Aktif Yap"; color = "dark"; rowcolor = "background-color:gray"; statuscolor = "danger"; }
        count++;

        <tr style="@rowcolor">
            <th>@count</th>
            <td>@item.ProductName</td>
            <td>@item.Brand</td>
            <td>@item.Stock</td>
            <td>@item.PurchasePrice ₺</td>
            <td>@item.SalePrice ₺</td>
            <td>@item.Category.CategoryName</td>
            <td><img src="@item.Image" style="width:75px;height:75px"></td>
            <td> <span class="badge badge-@statuscolor">  @status</span> </td>
            <td>
                <a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-@color" >@buttonname</a>
                <a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-dark">Düzenle</a>
                </td>
        </tr>
    }
    </tbody>
</table>
<br />
<a href="/Product/AddProduct/" class="btn btn-dark">Yeni Ürün Ekle</a>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script>


    $('#tbl2').dataTable({
        "responsive": true,
        "dom": '<"html5buttons"B>lTfgitp',
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.13.4/i18n/tr.json"
        }
    });

</script>
