@using EntityLayer.Concrete;
@model Product
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Ürün Düzenleme Sayfası</h3>
<br />
<form method="post">
    @Html.HiddenFor(x=>x.ProductID)
    <label>Ürün Adı</label>
    @Html.TextBoxFor(x=>x.ProductName,new {@class="form-control"})
    <br />
    <label>Marka</label>
    @Html.TextBoxFor(x=>x.Brand,new {@class="form-control"})
    <br />
    <label>Stok Sayısı</label>
    @Html.TextBoxFor(x=>x.Stock,new {@class="form-control"})
    <br />
    <label>Alış Fiyatı</label>
    @Html.TextBoxFor(x=>x.PurchasePrice,new {@class="form-control"})
    <br />
    <label>Satış Fiyatı</label>
    @Html.TextBoxFor(x=>x.SalePrice,new {@class="form-control"})
    <br />
    <label>Kategori</label>
    @Html.DropDownListFor(x=>x.CategoryID,(List<SelectListItem>)ViewBag.category,new {@class="form-control"})
    <br />
    <label>Görsel</label>
    @Html.TextBoxFor(x=>x.Image,new {@class="form-control"})
    <br />
    <button class="btn btn-dark">Kaydet</button>

</form>

