@using EntityLayer.Concrete;
@model List<Transaction>
@{
    ViewData["Title"] = "CurrentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}


<h3 class="container">Cari Satış Detayları</h3>
<br />
<ol class="breadcrumb mb-4">
    <h3 class="breadcrumb-item active container">Cari Adı Soyadı: @ViewBag.current </h3>
</ol>


<table class="table table-hover">

    <tr>
        <th>#</th>
        <th>Ürün</th>
        <th>Personel Ad Soyad </th>
        <th>Fiyat  </th>
        <th>Adet  </th>
        <th>Toplam  </th>
        <th>Tarih  </th>
        <th>Yazdır  </th>

    </tr>

    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <th>@item.Product.ProductName</th>
            <td>  @item.Staff.Name  @item.Staff.Surname</td>
            <td>@item.Price</td>
            <td>@item.Number</td>
            <td>@item.TotalPrice</td>
            <td>@item.Date.ToShortDateString()</td>
            <td><a href="#" class="btn btn-dark">Yazdır</a></td>

        </tr>
    }
</table>

