@using EntityLayer.Concrete;
@model List<Transaction>
@{
    ViewData["Title"] = "SaleDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h3 class="container"> Satış Detayları</h3>
<br />



<table class="table table-hover">

    <tr>
        <th>#</th>
        <th>Ürün</th>
        <th>Cari Ad Soyad </th>
        <th>Personel Ad Soyad </th>
        <th>Fiyat  </th>
        <th>Adet  </th>
        <th>Toplam  </th>
        <th>Tarih  </th>
    

    </tr>

    @foreach (var item in Model)
    {
        count++;

        <tr>
            <th>@count</th>
            <th>@item.Product.ProductName</th>
            <td>  @item.Current.Name  @item.Current.Surname</td>
            <td>  @item.Staff.Name  @item.Staff.Surname</td>
            <td>@item.Price</td>
            <td>@item.Number</td>
            <td>@item.TotalPrice</td>
            <td>@item.Date.ToShortDateString()</td>
          

        </tr>
    }
</table>
<br />
<button class="btn btn-dark">Yazdır</button>



